@import "tailwindcss";

@theme {
    --color-pcfh-50: #f0f9ff;
    --color-pcfh-100: #e0f2fe;
    --color-pcfh-200: #bae6fd;
    --color-pcfh-300: #7dd3fc;
    --color-pcfh-400: #38bdf8;
    --color-pcfh-500: #0ea5e9;
    --color-pcfh-600: #0284c7;
    --color-pcfh-700: #0369a1;
    --color-pcfh-800: #075985;
    --color-pcfh-900: #0c4a6e;
}

@layer base {
    body {
        @apply bg-slate-50 text-slate-900;
    }
}